<template>
<lightning-card title="Calculator">
<lightning-layout multiple-rows>
<lightning-layout-item size="12" padding="medium-around">
<lightning-input label="First Number" name="first" onchange={inputhandler}></lightning-input>
<lightning-input label="Second Number" name="second" onchange={inputhandler}></lightning-input>
<lightning-input label="Result" value={value}></lightning-input>
<lightning-button label="ADD" onclick={addhandler}></lightning-button>
<lightning-button label="SUB" onclick={subhandler}></lightning-button>
<lightning-button label="MUL" onclick={mulhandler}></lightning-button>
<lightning-button label="DIV" onclick={divhandler}></lightning-button>
</lightning-layout-item>
<lightning-layout-item>
<lightning-input type="checkbox" onchange={checkboxhandler}></lightning-input>
<template if:true={ifchecked}>
    <template for:each={history} for:item="item">
    <p key={item}>{item}</p>
    </template>
</template>
</lightning-layout-item>
</lightning-layout>
</lightning-card>
</template>